ul > li, ol > li {
   margin-bottom: 10px;
}

blockquote {
    border-left: 5px solid #CC4444;
    padding: 10px;
    color: #444444;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: auto;
    text-shadow: none;
    border-radius: 0 6px 6px 0;
    margin-left: 10px;
}

blockquote>b {
    font-weight: bold;
    padding-right: 10px;
}


pre {
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
  border: solid 2px #d1d1d1;
  border-radius: 6px;
  white-space: normal;
  font-size: 0.9em;
}

pre b {
    color: yellow;
}

pre i {
    color: burlywood;
}

table.black tbody {
  background: #303030;
  color: #FFFFFF;
}

table.black tbody td {
    border-bottom: 0;
}

table pre {
    white-space: normal;
  border-radius: 0;
  border: solid 3px #303030;
  margin: -3px 0;
}

ul#table-of-contents,
ul#search-logic {
    list-style: none;
    margin-left: -25px;
}

ul#table-of-contents li {
    margin-bottom: 0;
}

ul#table-of-contents li:before,
ul#search-logic li:before {
    /*
    The desired width gets defined in two places: The element width, and background size.
    The height only gets defined once, in background size.
    */
    display: inline-block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    width: 20px; /* desired width of the image */
    background-repeat: no-repeat;
    background-image: url('../images/Magnifying_glass_icon.svg.png');
    background-size: 20px 20px;
    background-position: 0 .2em;
    padding-right: 5px;
}

h2 {
   -webkit-margin-before: 0px;
}

img {
    border-color: transparent;
    border: #000000 2px solid;
    border-radius: 10px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
  margin-bottom: 30px;
}

figure img {
    margin-top: 20px;
}