body {
    margin: 0;
}

a {
  color: #d5000d;
}

a:hover {
  color: #c5000c;
}

blockquote {
    border-left: 5px solid #CC4444;
    padding: 10px;
    color: #444444;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: auto;
    text-shadow: none;
    border-radius: 0 6px 6px 0;
    margin-left: 10px;
}

blockquote>b {
    font-weight: bold;
    padding-right: 10px;
}


code, pre {
  padding-left: 3px;
  padding-right: 3px;
  font-family: Consolas;
  color: #303030;
}

pre {
  color: #DCDCCC;
  text-shadow: none;
  background: #3F3F3F;
  border: solid 3px #101010;
  border-radius: 6px;
  white-space: normal;
  font-size: 0.9em;
}

pre span {
    color: #c3e069;
}

pre span.inputstart {
    color: #99dfcd;
}

pre i {
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: #CEDF99;
}

pre em {
    color: #FFFFFF;
}

code {
  border: solid 3px #7D7D7D;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #303030
}

a code {
    color: #d5000d;
}

h3 code {
  font-size: inherit;
}

table.black tbody {
  background: #303030;
  color: #FFFFFF;
}

table.black tbody td {
    border-bottom: 0;
}

table pre {
    white-space: normal;
  border-radius: 0;
  border: solid 3px #303030;
  margin: -3px 0;
}

ul#first-layer,
ul#search-logic {
    list-style: none;
    margin-left: -25px;
}

ul#first-layer li {
    margin-bottom: 0;
}

ul#first-layer li:before,
ul#search-logic li:before {
    /*
    The desired width gets defined in two places: The element width, and background size.
    The height only gets defined once, in background size.
    */
    display: inline-block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    width: 20px; /* desired width of the image */
    background-repeat: no-repeat;
    background-image: url('../images/Magnifying_glass_icon.svg.png');
    background-size: 20px 20px;
    background-position: 0 .2em;
    padding-right: 5px;
}


ul#first-layer ul#second-layer {
    list-style: none;
}

ul#first-layer ul#second-layer li:before {
    margin-left: 0;
    background-size: 12px 12px;
    background-position: 0.3em .3em;
}

h2 {
   -webkit-margin-before: 0px;
}

img {
    border-color: transparent;
    border: #000000 2px solid;
    border-radius: 10px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
  margin-bottom: 30px;
}

figure img {
    margin-top: 20px;
}

kbd.light {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.datagrid.class table {
    width: auto;
}

.datagrid.class table th {
    text-align: center;
}